* {
  margin: 0;
  padding: 0;
}
/* SUBHEADER */

subheader {
  background-color: #d8bb98;
  font-family: "Times New Roman", Times, serif;
  font-weight: 500;
  font-size: 1.5rem;
  color: #432818;
  display: flex;
  align-items: center;
  text-align: center;
  height: 5rem;
  padding-left: 48.5rem;
}

subheader button {
  color: white;
  border: none;
  font-family: "Times New Roman", Times, serif;
  font-weight: 500;
  margin-left: 15px;
  padding: 10px;
  border-radius: 20px;
  background-color: #945b45;
  cursor: pointer;
  padding: 1rem;
}

subheader button:hover {
  background-color: #b07b64;
  color: black;
}

/* HEADER */

header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  height: 4rem;
}

.header-list li {
  display: inline-block;
  padding: 20px;
  font-size: 20px;
  font-weight: 500;
}

.btn-login {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 7px;
  padding-bottom: 80px;
  margin: 10px;
}

header button {
  width: 4rem;
  font-size: 1rem;
  font-weight: 600;
  color: white;
  height: 2rem;
  border-radius: 5px;
  background-color: #945b45;
  border: none;
  cursor: pointer;
}

header button:hover {
  background-color: #b07b64;
  color: black;
}
